.main video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  background: url(https://wallpaperaccess.com/full/1355157.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-position: center;
}

.results {
  display: none;
}

div {
  margin-top: 20px;
  background-color: slateblue;
  color: coral;
  font-size: larger;
}

input {
  width: 15%;
}

select, option {
  width: 250px;
}

button {
  margin-top: 20px;
}